{#
/**
 * @file fragment.html.twig
 * Default theme implementation to present fragment data.
 *
 * This template is used when viewing fragment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fragment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fragment') }}>
  {% if content %}
    {{ title_suffix }}
    {{ content }}
  {% endif %}
</div>
